.her-her {
  width: 100%;
  height: 80vh;
  display: flex;
  position: relative;
  align-items: center;
  border-color: #51515A;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  border-bottom-width: 1px;
}
.her-her1 {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.her-content {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
}
.her-main {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.her-header {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.her-heading {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.her-caption {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: Poppins;
  line-height: 30px;
}
.her-buttons {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.her-get-started {
  display: flex;
  background-color: #80FF44;
}
.her-text {
  color: #0C100C;
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
.her-get-started1 {
  background-color: #2A2A2A;
}
.her-text1 {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
.her-highlight {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.her-avatars {
  width: 115px;
  height: var(--dl-size-size-small);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.her-image {
  left: 0px;
  position: absolute;
}
.her-image1 {
  left: var(--dl-space-space-twounits);
  position: absolute;
  object-fit: cover;
}
.her-image2 {
  left: var(--dl-space-space-fourunits);
  position: absolute;
  object-fit: cover;
}
.her-caption1 {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  line-height: 24px;
}
.her-image3 {
  top: 150px;
  right: 0px;
  width: 650px;
  height: 900px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.her-image4 {
  top: 0px;
  right: 0px;
  width: 100%;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.her-image5 {
  display: none;
}
@media(max-width: 991px) {
  .her-her {
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .her-her1 {
    gap: var(--dl-space-space-fourunits);
    flex: 1;
    position: relative;
    max-width: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .her-content {
    position: relative;
    align-items: center;
  }
  .her-main {
    align-items: center;
  }
  .her-heading {
    text-align: left;
  }
  .her-caption {
    text-align: left;
  }
  .her-buttons {
    width: 100%;
  }
  .her-get-started {
    flex: 1;
  }
  .her-get-started1 {
    flex: 1;
  }
  .her-highlight {
    width: 100%;
    flex-direction: column;
  }
  .her-image3 {
    right: 0px;
    display: none;
    position: absolute;
    flex-direction: column;
  }
  .her-image5 {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  .her-image6 {
    width: 600px;
  }
}
@media(max-width: 767px) {
  .her-content {
    gap: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .her-heading {
    font-size: 40px;
  }
  .her-caption {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: Poppins;
    line-height: 24px;
  }
  .her-get-started {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .her-get-started1 {
    display: none;
  }
  .her-caption1 {
    font-size: 14px;
    line-height: 21px;
  }
  .her-image6 {
    width: 500px;
  }
}
@media(max-width: 479px) {
  .her-header {
    align-items: flex-start;
  }
  .her-heading {
    max-width: 280px;
  }
  .her-image6 {
    width: 400px;
  }
}
