@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/base';
@import 'tailwindcss/screens';

:root {
/* FONT */
  font-family: "Nunito", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

/* COLOR */
--r : #ff3333;
--y : #ffcc33;
--b : #2461ff;
--g: #35d55e;
--d9 : #050404;
--d8 : #090908;
--d7 : #141211;
--d6 : #1d1c19;
--d5 : #272521;
--d4 : #312e29;
--d3 : #3b3732;
--d2 : #44403a;
--d1 : #4e4942;
--m9 : #58534a;
--m8 : #625c53;
--m7 : #6c655b;
--m6 : #756e63;
--m5 : #7f776b;
--m4 : #898074;
--m3 : #91897d;
--m2 : #9a9287;
--m1 : #a29b91;
--l9 : #aaa49b;
--l8 : #b2ada4;
--l7 : #bbb6ae;
--l6 : #c3bfb8;
--l5 : #cbc7c2;
--l4 : #d3d0cb;
--l3 : #dcd9d5;
--l2 : #e8e6e4;
--l1 : #f3f3f1;
--yx : #fff1c9;
--y0 : #ffeebb;
--y1 : #ffebad;
--y2 : #ffe7a0;
--y3 : #ffe492;
--y4 : #ffe085;
--y5 : #ffdd77;
--y6 : #ffda69;
--y7 : #ffd65c;
--y8 : #ffd34e;
--y9 : #ffcf41;

  --rl: #ff6666;
  --rA: #f03d3d;
  --rd1: #c62d2d;
  --rd2: #8e2828;
  --rd3: #562323;
  --bl1: #c8d7ff;
  --bl2: #91b0ff;
  --bl3: #5a88ff;
  --bd2: #2250c6;
  --bd3: #203f8e;
  --bd4: #111827;
  --gl: #9aeaae;
  --gd: #27a74e;
  --gd2: #29793e;
  --w2: #e9e9eb;
  --w3: #ccc;
  --w4: #b2b2b2;
  --b1: #808080;
  --b2: #51515a;
  --b3: #292929;
  --b4: #1e1e1e;
  --b5: #111;

    /* SPACING/TELE */
        --dl-radius-radius-radius2: 2px;
        --dl-radius-radius-radius4: 4px;
        --dl-radius-radius-radius8: 8px;
        --dl-radius-radius-round: 50%;
        --dl-size-size-large: 144px;
        --dl-size-size-maxwidth: 1400px;
        --dl-size-size-medium: 96px;
        --dl-size-size-small: 48px;
        --dl-size-size-xlarge: 192px;
        --dl-size-size-xsmall: 16px;
        --dl-size-size-xxlarge: 288px;
        --dl-space-space-fiveunits: 80px;
        --dl-space-space-fourunits: 64px;
        --dl-space-space-halfunit: 8px;
        --dl-space-space-oneandhalfunits: 24px;
        --dl-space-space-sixunits: 96px;
        --dl-space-space-threeunits: 48px;
        --dl-space-space-twounits: 32px;
        --dl-space-space-unit: 16px;

    /* NEXTUI */
        --nextui-colors-black: var(--black));
        --nextui-colors-blue: var(--blue);
        --nextui-colors-dark: var(--dark);
        --nextui-colors-eerie: var(--eerie);
        --nextui-colors-green: var(--green);
        --nextui-colors-red: var(--red);
        --nextui-colors-white: var(--white);
        --nextui-colors-yellow: var(--yellow);
        --nextui-fonts-sans: "Nunito", sans-serif;
  }

/* KEYFRAMES */
    @keyframes grow-x{0%{transform:scaleX(0)}to{transform:scaleX(1)}} @keyframes shrink-x{0%{transform:scaleX(1)}to{transform:scaleX(0)}} @-webkit-keyframes slide{0%{-webkit-transform:translateZ(0);transform:translateZ(0)}to{-webkit-transform:translate3d(-2700px,0,0);transform:translate3d(-2700px,0,0)}} @keyframes slide{0%{-webkit-transform:translateZ(0);transform:translateZ(0)}to{-webkit-transform:translate3d(-2700px,0,0);transform:translate3d(-2700px,0,0)}} @-webkit-keyframes swiper-preloader-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}} @keyframes swiper-preloader-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}} @-webkit-keyframes swinging{0%,to{background-position:25%0}50%{background-position:76% 100%}} @keyframes swinging{0%,to{background-position:25%0}50%{background-position:76% 100%}}::view-transition-new(figure-caption),::view-transition-old(figure-caption){height:auto;right:0;left:auto;transform-origin:right center}::view-transition-old(figure-caption){animation:.25s linear both shrink-x}::view-transition-new(figure-caption){animation:.25s .25s linear both grow-x}

@keyframes video-fade {
  0% {
    filter: grayscale(0%);
    webkit-filter: grayscale(0%);
  }
  to {
    filter: grayscale(100%);
    webkit-filter: grayscale(100%);
  }
}

.base-page-size {
  width: 100%;
  min-height: 100vh;
}

.bg-vid {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: grayscale(100%);
  animation: video-fade 6s ease-in both;
  webkit - animation: video-fade 6s ease-in both;
  webkit - filter: grayscale(100%);
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  color: var(--l1);
  text-align: center;
  border-radius: 1rem;
  padding: 5px 0;
  font-size: 1rem;
  /* Position the tooltip */
  position: absolute;
  z-index: 10;
  top: 90%;
  margin-top: 1.25rem;
  background: var(--d9);
  background-opacity: 0.9;
  padding: 0.5rem;
  line-height: 1.5rem;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.backdrop {
  backdrop-filter: blur(.5rem);
}

.h1 {
  font: 400 3.5rem/4.25rem "Poppins", sans-serif;
}
.h1,
.h2 {
  letter-spacing: 0.01em;
}
.h2 {
  font: 300 3rem/4rem "Poppins", sans-serif;
}

.header {
  flex-wrap: balance;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  place-content: center;
  padding-top: 2rem;
  width: 100%;
}

.head {
  color: var(--r);
  font-weight: 500;
  letter-spacing: 0.13rem;
  line-height: 2rem;
  text-transform: uppercase;
}

.head,
.heading {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.heading {
  color: var(--l1);
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 4rem;
}

.box {
  border-radius: 1rem;
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.bullets-checkmarks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  max-width: 80%;
}

.mark-icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

.mark-icon {
  background-color: var(--l5);
  border-radius: 50%;
  flex-direction: row;
  padding: 8px;
  padding: var(--dl-space-space-halfunit);
}

.mark-icon1 {
  fill: var(--r);
  height: 1rem;
  width: 1rem;
}
.select-container1 Label,
.select-container2 Label {
  color: hsla(0, 0%, 100%, 0.616);
  font: 300 1rem "Nunito", sans-serif;
  justify-items: flex-start;
  justify-self: flex-start;
}

.select-container1,
.select-container2 {
  flex-direction: column;
}

.select-container1,
.select-container2,
.selections {
  align-items: left;
  display: flex;
  justify-content: left;
}

.selections {
  flex-direction: row;
  gap: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  padding-left: 1.25rem;
  width: 100%;
}

.custom-select1,
.custom-select2 {
  -webkit-appearance: none;
  appearance: none;
  background-color: initial;
  border: 1px outset var(--r);
  border-radius: 0.5rem;
  color: var(--l1);
  cursor: pointer;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 6rem;
}

@screen xs {
}
@screen sm {
}
@screen md {
}
@screen lg {
}
@screen xl {
}