@tailwind base;
@tailwind components;
@tailwind utilities;
@import './Styles/colors.css';
@import './Styles/keyframes.css';
@import './Styles/typography.css';
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@layer base {html {font-family: Poppins, system-ui, sans-serif}}

:root {
  --h00-size-mobile: 2.5rem;
  --h0-size-mobile: 2rem;
  --h1-size-mobile: 1.625rem;
  --h2-size-mobile: 1.375rem;
  --h3-size-mobile: 1.125rem;
  --h00-size: 3rem;
  --h0-size: 2.5rem;
  --h1-size: 2rem;
  --h2-size: 1.5rem;
  --h3-size: 1.25rem;
  --h4-size: 1rem;
  --h5-size: 0.875rem;
  --h6-size: 0.75rem;
  --p-size: 1rem;
  --p-size-mobile: 0.875rem;
}

canvas{
  position: absolute;
  top:0;
  left:0;
  z-index:-1;
}

.shadow-nimble {box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38)}
.shadow-blue {box-shadow: rgba(7, 65, 210, 0.1) 0px 9px 30px}
.shadow-purp {box-shadow: 5px 5px 0px 0px rgba(109,40,217)}
.shadow-faintblue {box-shadow: 0 25px 50px -12px #3b82f620}
.shadow-aesthetic {box-shadow: 0 3px 10px rgb(0,0,0,0.2)}
.shadow-edge {box-shadow: 0 0 0 2px var(--w4), 8px 8px 0 0 var(--w4)}

.read-more { display: none; }
p:truncated + .read-more { display: block; }
.tooltip {position: relative}
.tooltip:hover .tooltiptext {visibility: visible;}
.base-page-size {width: 100%; min-height: 100vh}
.backdrop {backdrop-filter: blur(.5rem)}
    
.bg-vid {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  -webkit-animation: video-fade 6s ease-in both;
  animation: video-fade 6s ease-in both;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  color: var(--l1);
  text-align: center;
  border-radius: 1rem;
  font-size: 1rem;
  position: absolute;
  z-index: 10;
  top: 90%;
  margin-top: 1.25rem;
  background: var(--d9);
  background-opacity: 0.9;
  padding: 0.5rem;
  line-height: 1.5rem;
}