.anim-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10vw;
}

.anim-1 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: 300;
    line-height: 4.5rem;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 30vw;
  }
  .messages {
    background-color: #ff3333;
    color: #fff;
    display: inline-block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    margin-left: 1rem;
    animation: openclose 10s ease-in-out infinite;
  }

  .anim-2 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: 100;
    line-height: 3rem;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 30vw;
    height: 4rem;
  }
  .word1, .word2, .word3, .word4, .word5 {
    font-family: "Poppins", sans-serif;
    margin-left: 1rem;
  }
  
  @keyframes openclose {
    0% {
      top: .2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 230px;
    }
    30% {
      top: .2rem;
      width: 230px;
    }
    33% {
      top: .2rem;
      width: 0;
    }
    35% {
      top: .2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: 190px;
    }
    62% {
      top: -4.5rem;
      width: 190px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 285px;
    }
    95% {
      top: -9rem;
      width: 285px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }

  @media (max-width: 991px) {
    .anim-head {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: .25rem;
      height: 30vh;
    }
    .anim-1 {
      font-size: 2rem;
      line-height: 4.5rem;
      width: 50vw;
      font-weight: 800;
    }
    .messages {
      margin-left: 1rem;
      left: 3rem;
      font-weight: 700;
      font-size: 2rem;
      line-height: 4.5rem;
      clip-path: polygon(5% 0, 100% 0, 85% 100%, 0 100%);
    }
    .anim-2 { 
      font-size: 2rem; 
      height: 3rem;
      font-weight: 800;
      width: 60vw;
    }
  }

  @media (max-width: 599px) {
    .anim-1 {
      width: 60vw;
    }
    .anim-2 { 
      width: 80vw;
      font-size: 1.5rem;
      font-weight: 800;
    }
  }