:root {
--w: 90vw;
--swiper-navigation-top-offset: 80%;
--swiper-navigation-size: 20px;
--swiper-navigation-sides-offset: calc((var(--w)) * 1.1);
--swiper-navigation-color: #fff;
}

.swiper {
	width: 90vw;
	height: 40vh;
  max-width: 800px;
  max-height: 600px;
}
.swiper-slide {
    display: flex;
    border-radius: 2rem;
    background-clip: border-box;
    background-size: cover;
    position: relative;
    z-index: 99;
    box-shadow: .5rem .5rem 1rem rgba(25, 25, 25, 0.3),
    -.5rem -.5rem 1rem rgba(60, 60, 60, 0.5);
}
.slide-head {
  z-index: 999;
}

@-webkit-keyframes swinging {
    0%{background-position:25% 0%}
    50%{background-position:76% 100%}
    100%{background-position:25% 0%}
}
@-moz-keyframes swinging {
    0%{background-position:25% 0%}
    50%{background-position:76% 100%}
    100%{background-position:25% 0%}
}
@keyframes swinging {
    0%{background-position:25% 0%}
    50%{background-position:76% 100%}
    100%{background-position:25% 0%}
}

.card::before {
    z-index: 9;
    content: '';
    position: absolute;
    width: 100%;
    background-image: linear-gradient(270deg, #ffcc33, #ffffff);
    background-size: 400% 400%;
    height: 100%;
    border-radius: 1rem;
    -webkit-animation: swinging 15s ease infinite;
    -moz-animation: swinging 15s ease infinite;
    animation: swinging 15s ease infinite;
  }

.swiper-slide img {
    aspect-ratio: preserve;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    filter: brightness(0.7);
    z-index: 999;
    border: 1px outset transparent;
    background-clip: border-box;
}
.swiper-slide:hover img {
    transition-duration: 0.5s;
    filter:brightness(1);
}

.slide-text {
    position: absolute;
    display: flex;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
    padding-top: 8vh;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    transform: scale(0.8);
    transition-duration: 0.5s;
    z-index: 999;
}
.slide-text1 {
  position: absolute;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 600;
  letter-spacing: 0.1rem;
  transform: scale(0.8);
  z-index: 999;
}


@media (max-width: 991px) {
  .swiper-container {
    padding-top: 0;
  }
  .slide-text {
    font-size: 3rem;
    padding-top: 6vh;
  }
}
@media (max-width: 767px) {
  .swiper {
    width: 70vw;
    height: 30vh;
  }
  .slide-text {
    font-size: 3rem;
    padding-top: 2vh;
  }
  .swiper-container {
    padding-left: 0;
    padding-right: 0;
    padding-top: 5vh;
    padding-bottom: 0;
  }
}
@media (max-width: 479px) {
  .slide-text {
    font-size: 2rem;
    padding-top: 2vh;
  }
}