.section-head {
	color: var(--yellow);
	font-style: normal;
	font-size: 1rem;
	font-family: "Poppins", serif;
	font-weight: 500;
	line-height: 2rem;
	letter-spacing: 0.13rem;
	text-transform: uppercase;
}
.section-heading {
	color: white;
	font-size: 2.5rem;
	font-style: normal;
	font-family: "Poppins", serif;
	font-weight: 600;
	line-height: 4rem;
}
.section-description {
	color: rgb(204, 204, 204);
	width: 100%;
	font-family: "Poppins", serif;
	line-height: 1.75rem;
	padding-top: 1rem;
	font-size: 1rem;
	padding-bottom: 2rem;
}

.bullets-bullets {
	width: 100%;
	align-items: center;
	padding-top: 6rem;
	padding-bottom: 6rem;
	justify-content: center;
}

.bullets-content {
	flex: 1;
	display: flex;
	max-width: 100%;
	align-items: flex-start;
	justify-content: center;
}
.bullets-main {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
}
.bullets-checkmarks {
	gap: 1rem;
	max-width: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.bullets-text {
	color: white;
	font-size: 1rem;
	font-style: normal;
	font-weight: 500;
	line-height: 2rem;
}
@media (max-width: 767px) {
	.bullets-bullets {
		gap: var(--dl-space-space-fourunits);
		padding-bottom: var(--dl-space-space-twounits);
	}
	.bullets-section {
		flex-direction: column-reverse;
	}
}
