.review-card {
	gap: 1.5rem;
	flex: 1;
	display: flex;
	padding: 1.5rem;
	position: relative;
	align-items: flex-start;
	border-radius: 20px;
	flex-direction: column;
	justify-content: flex-start;
	backdrop-filter: blur(12px) saturate(84%);
	-webkit-backdrop-filter: blur(12px) saturate(84%);
	background-color: rgba(255, 255, 255, 0.02);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
}
.review-stars {
	gap: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.review-icon {
	fill: #ffde6a;
	width: 16px;
	height: 16px;
}
.review-icon02 {
	fill: #ffde6a;
	width: 16px;
	height: 16px;
}
.review-icon04 {
	fill: #ffde6a;
	width: 16px;
	height: 16px;
}
.review-icon06 {
	fill: #ffde6a;
	width: 16px;
	height: 16px;
}
.review-icon08 {
	fill: #ffde6a;
	width: 16px;
	height: 16px;
}
.review-content {
	gap: 1rem;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
}
.review-quote {
	color: #cccccc;
	font-size: 1rem;
	font-family: "Poppins";
	line-height: 1.5rem;
}
.review-author {
	gap: 1rem;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: flex-start;
}
.review-avatar {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
}
.review-details {
	gap: 0.25rem;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
}
.review-author1 {
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-style: normal;
	font-family: Poppins;
	font-weight: 600;
}
.review-position {
	color: #cccccc;
	font-size: 14px;
	font-family: Poppins;
	line-height: 20px;
}

@media (max-width: 991px) {
	.review-card {
		padding-top: var(--dl-space-space-twounits);
		padding-left: var(--dl-space-space-oneandhalfunits);
		padding-right: var(--dl-space-space-oneandhalfunits);
		padding-bottom: var(--dl-space-space-twounits);
	}
}
