.contact-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	background-color: transparent;
}
.book-book {
	background-color: transparent;
	justify-content: center;
	align-items: center;
	align-self: center;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	background-color: transparent;
	text-align: center;
}
.input book-input {
	width: 100%;
	padding-top: 2rem;
	border-color: #b4b9c69f;
	border-width: 0px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom-width: 1px;
	margin-left: 2rem;
	margin-right: 2rem;
	color: #fff;
	font-weight: 300;
}

.book-type:hover {
	color: white;
	background-color: black;
}
.book-input {
	width: 75%;
	padding-top: 2rem;
	border-color: #b4b9c69f;
	border-width: 0px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom-width: 1px;
	margin-left: 2rem;
	margin-right: 2rem;
	color: #fff;
	font-weight: 300;
}
.book-inputs {
	color: #fff;
	font-weight: 300;
	align-items: center;
	justify-content: center;
}
.book-date {
	display: flex;
	align-items: flex-end;
	flex-direction: row;
	justify-content: center;
}
.selections {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	gap: 2rem;
}
.select-container1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.select-container1 Label {
	color: rgba(255, 255, 255, 0.616);
	font-size: 1rem;
	font-style: normal;
	font-family: "Poppins", serif;
	font-weight: 300;
	justify-self: flex-start;
	justify-items: flex-start;
}
.custom-select1 {
	padding: 0.5rem;
	margin: 0.5rem;
	font-size: 1rem;
	color: #fff;
	border: 1px outset #ff3333;
	border-radius: 0.5rem;
	background-color: transparent;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	width: 6rem;
}
.select-container2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.select-container2 Label {
	color: rgba(255, 255, 255, 0.616);
	font-size: 1rem;
	font-style: normal;
	font-family: "Poppins", serif;
	font-weight: 300;
	justify-self: flex-start;
	justify-items: flex-start;
}
.custom-select2 {
	padding: 0.5rem;
	margin: 0.5rem;
	font-size: 1rem;
	color: #fff;
	border: 1px outset #ff3333;
	border-radius: 0.5rem;
	background-color: transparent;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	width: 6rem;
}
