@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  to {
    -webkit-transform: translate3d(-2700px, 0, 0);
    transform: translate3d(-2700px, 0, 0);
  }
}
@keyframes slide {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  to {
    -webkit-transform: translate3d(-2700px, 0, 0);
    transform: translate3d(-2700px, 0, 0);
  }
}
.main-description {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(250, 250, 250, 0.6);
  box-shadow: 0 0 1rem rgba(250, 250, 250, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
}

.comic-button {
  display: inline-flex;
  padding: 0.5em 1em;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff3333;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}

.comic-button:hover {
  background-color: #fff;
  color: #ff3333;
  border: 2px solid #ff3333;
  box-shadow: 5px 5px 0px #ff3333;
}

.comic-button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}
.comic-button2 {
  padding: 0.5em 1em;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #2461ff;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: -5px 5px 0px #fff;
  transition: all 0.3s ease;
  cursor: pointer;
  display: inline-flex;
  margin-right: 2rem;
}
.phone {
  fill: #fff;
  place-content: center;
  stroke-width: 4px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 0.5rem;
  max-height: 2rem;
  max-width: 2rem;
  width: auto;
  height: auto;
}

.comic-button2:hover {
  background-color: #fff;
  color: #2461ff;
  border: 2px solid #2461ff;
  box-shadow: -5px 5px 0px #2461ff;
}
.comic-button2:hover .phone {
  fill: #2461ff;
}

.comic-button2:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}

.header {
  gap: 1rem;
  width: 100%;
  text-wrap: balance;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  place-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.head {
  color: var(--yellow);
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.13rem;
  text-transform: uppercase;
}
.heading {
  color: white;
  font-size: 2.5rem;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 4rem;
}
.copyright {
  font-size: 0.75rem;
  font-weight: 300;
  text-align: center;
}

.footer1 {
  align-items: center;
  color: #fff;
  display: flex;
  gap: 4rem;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  position: relative;
  width: 100%;
}

.navbarCenter {
  align-content: center;
  margin-bottom: 1rem;
  align-items: center;
  align-self: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  max-width: 50%;
  width: auto;
}

.navbarLeft {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  justify-items: flex-start;
  max-width: 25%;
  width: auto;
}

.navbarRight {
  align-items: flex-end;
  align-self: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  justify-items: flex-end;
  max-width: 25%;
  width: auto;
}

:root {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
  --black: #000;
  --blue: #2461ff;
  --dark: #111;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-radius-radius-round: 50%;
  --dl-size-size-large: 144px;
  --dl-size-size-maxwidth: 1400px;
  --dl-size-size-medium: 96px;
  --dl-size-size-small: 48px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-size-size-xxlarge: 288px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-oneandhalfunits: 24px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-twounits: 32px;
  --dl-space-space-unit: 16px;
  --eerie: #1e1e1e;
  --green: #35d55e;
  --nextui-colors-black: #000;
  --nextui-colors-blue: #2461ff;
  --nextui-colors-dark: #111;
  --nextui-colors-eerie: #1e1e1e;
  --nextui-colors-green: #35d55e;
  --nextui-colors-red: #f33;
  --nextui-colors-white: #fff;
  --nextui-colors-yellow: #fc3;
  --nextui-fonts-sans: "Poppins", sans-serif;
  --red: #f33;
  --white: #fff;
  --yellow: #fc3;
}

.main-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 999;
}

@media (max-width: 768px) {
  .Navbar {
    padding-left: 5%;
    padding-right: 5%;
  }

  .footer1 {
    flex-direction: column;
    gap: 2rem;
  }

  .comic-button {
    box-shadow: 3px 3px 0px;
  }
  .comic-button:hover {
    box-shadow: 3px 3px 0px #fff;
  }

  .comic-button2 {
    font-size: 1rem;
    border: 1px solid #fff;
    display: inline-flex;
    box-shadow: -3px 3px 0px;
  }
  .comic-button2:hover {
    background-color: #fff;
    color: #2461ff;
    border: 1px solid #2461ff;
    box-shadow: -3px 3px 0px #2461ff;
  }
}

.accordian-accordian {
  align-items: center;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  gap: var(--dl-space-space-fiveunits);
  justify-content: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-top: var(--dl-space-space-fourunits);
  position: relative;
  width: 100%;
}

.accordian-caption {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accordian-content {
  align-items: flex-start;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  gap: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  max-width: 600px;
}

.accordian-header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--dl-space-space-unit);
  justify-content: center;
}

.accordian-heading {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  max-width: 600px;
  width: 100%;
}

.accordian-image {
  align-items: center;
  display: flex;
  flex: 1 1;
  flex-direction: row;
  justify-content: center;
}

.accordian-image1 {
  object-fit: cover;
}

.accordian-note {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}

.accordion-details,
.accordion-details1,
.accordion-details2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--dl-space-space-halfunit);
  justify-content: center;
  width: 100%;
}

.accordion-element,
.accordion-element1,
.accordion-element2 {
  -webkit-user-select: none;
  user-select: none;
  width: 640px;
}

.accordion-icon,
.accordion-icon2,
.accordion-icon4,
.faq-icon,
.faq-icon02,
.faq-icon04,
.faq-icon06,
.faq-icon08,
.faq-icon10 {
  fill: var(--dl-color-gray-white);
  height: var(--dl-size-size-xsmall);
  width: var(--dl-size-size-xsmall);
}

.accordion-text,
.accordion-text2,
.accordion-text4 {
  color: var(--dl-color-gray-white);
  font: 600 18px/27px "Poppins", serif;
  max-width: 535px;
  width: 100%;
}

.accordion-text1,
.accordion-text3,
.accordion-text5 {
  -webkit-user-select: text;
  color: var(--dl-color-gray-900);
  font-family: "Poppins", serif;
  line-height: 24px;
  max-width: 535px;
  user-select: text;
  width: 100%;
}

.avatar {
  border-radius: var(--dl-radius-radius-round);
  height: var(--dl-size-size-small);
  object-fit: cover;
  width: var(--dl-size-size-small);
}

.badges {
  z-index: 99;
  align-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-items: flex-end;
  margin-right: 2rem;
  margin-top: 2rem;
}

.bbb {
  align-self: flex-end;
  justify-self: flex-end;
  max-width: 6rem;
  margin: 0.5rem;
}

.bg-pattern {
  background-color: #111;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 1;
  padding: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}

.bg-pattern svg {
  bottom: 0;
  height: 100vh;
  left: 0;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.book-book {
  align-items: center;
  align-self: center;
  background-color: initial;
  justify-content: center;
}

.book-input {
  background-color: initial;
  border-color: #b4b9c69f;
  border-radius: 0;
  border-width: 0 0 1px;
  color: #fff;
  font-weight: 300;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 2rem;
  width: 75%;
}

.box {
  -webkit-transform-style: preserve-3d;
  border-radius: 1rem;
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  transform-style: preserve-3d;
}

.bullets-bullets {
  align-items: center;
  justify-content: center;
  padding-bottom: 6rem;
  padding-top: 6rem;
  width: 100%;
  z-index: 99;
}

.bullets-checkmarks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  max-width: 80%;
}

.bullets-main {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  align-items: center;
  border-radius: 58px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: var(--dl-space-space-oneandhalfunits) var(--dl-space-space-twounits);
  transition: 0.3s;
}

.call-button {
  align-content: center;
  align-items: center;
  align-self: center;
  background-color: #fff;
  border: 1px solid #51515a;
  border-radius: 1rem;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  margin: 0.25rem;
  max-width: 16rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
}

.call-text {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  font-weight: 600;
  justify-content: center;
  line-height: 2.75rem;
}

.card-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}

.card-description {
  color: #c2c6cc;
  line-height: 28px;
}

.card-header {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}

.card-icon {
  align-items: center;
  aspect-ratio: 1;
  background-color: var(--red);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--dl-space-space-unit);
}

.card-icon1 {
  border: 1px solid transparent;
  border-radius: 100%;
  display: flex;
  max-width: 12rem;
}

.cards-cards {
  align-items: center;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  gap: var(--dl-space-space-fiveunits);
  justify-content: center;
  padding-bottom: 120px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  position: relative;
  width: 100%;
}

.cards-cards1 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--dl-space-space-threeunits);
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}

.cards-header,
.her-her1 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.cards-left {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  max-width: 600px;
  width: 100%;
}

.collapseMenu {
  -ms-overflow-style: none;
  overflow: hidden;
  scrollbar-width: none;
}

.collapseMenu:-webkit-scrollbar,
.her-image5 {
  display: none;
}

.contact-container {
  align-items: center;
  align-self: center;
  background-color: initial;
  display: flex;
  flex-direction: column;
}

.cube-banner {
  align-items: center;
  background-color: #292929;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: var(--dl-space-space-fiveunits);
  width: 100%;
  z-index: 50;
}

.cube-book-demo {
  background-color: #fff;
  display: flex;
}

.cube-buttons {
  align-items: center;
  display: flex;
  gap: var(--dl-space-space-unit);
  justify-content: center;
}

.cube-cube {
  align-items: center;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  gap: var(--dl-space-space-fiveunits);
  justify-content: center;
  padding-bottom: 120px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  position: relative;
  width: 100%;
}

.cube-cube1 {
  -webkit-transform: rotateX(240deg) rotateY(25deg) rotate(-110deg);
  -webkit-transform-style: preserve-3d;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 20px;
  transform: rotateX(240deg) rotateY(25deg) rotate(-110deg);
  transform-style: preserve-3d;
  width: 120px;
}

.cube-description {
  font-size: 20px;
  line-height: 30px;
}

.cube-front {
  -webkit-transform: rotateX(90deg);
  -webkit-transform-origin: bottom;
  background: grey;
  background-image: linear-gradient(90deg, #f7f7f7 0, #cbcbcb 100%);
  transform: rotateX(90deg);
  transform-origin: bottom;
}

.cube-header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--dl-space-space-unit);
  justify-content: flex-start;
  max-width: 600px;
  width: 100%;
}

.cube-left {
  -webkit-transform: translateZ(-120px) rotateY(90deg);
  -webkit-transform-origin: right;
  background-image: linear-gradient(90deg, #f7f7f7 0, #cbcbcb 100%);
  transform: translateZ(-120px) rotateY(90deg);
  transform-origin: right;
  width: 120px;
}

.cube-text,
.cube-text1 {
  color: #0c100c;
  font: 500 16px/24px "Poppins", serif;
  white-space: nowrap;
}

.cube-top {
  -webkit-transform: translateZ(-120px);
  background-image: linear-gradient(270deg, #fdfdfd 0, #b2b2b2 100%);
  transform: translateZ(-120px);
}

.custom-select1,
.custom-select2 {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: initial;
  border: 1px outset #f33;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 6rem;
}

.dropdownItemDescription {
  color: #7d8186;
  display: block;
  font: 400 0.8rem/.9rem "Poppins", serif;
  letter-spacing: 0.01rem;
  margin: 6px 0 0;
  padding: 0;
  text-align: left;
  text-transform: none;
  width: 100%;
}

.duro-last {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  margin-bottom: 1rem;
  width: 12rem;
}

.emoji-large {
  font-size: 1.5em;
  padding-right: 0.5rem;
}

.exp {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  z-index: 10;
}

.exp-card {
  height: 150px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 150px;
}

.exp-card:hover .exp-description {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.exp-cards {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
}

.exp-container1 {
  max-width: 100%;
  padding: 2rem 4rem 6rem;
}

.exp-description {
  -webkit-transform: translateY(100%);
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  color: #fff;
  left: 0;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  transform: translateY(100%);
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.exp-text {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 4rem;
}

.faq-details,
.faq-details1,
.faq-details2,
.faq-details3,
.faq-details4,
.faq-details5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  width: 100%;
}

.faq-element,
.faq-element1,
.faq-element2,
.faq-element3,
.faq-element4,
.faq-element5 {
  max-width: 800px;
  padding-bottom: var(--dl-space-space-threeunits);
  padding-top: var(--dl-space-space-threeunits);
  width: 100%;
}

.faq-text {
  color: #fff;
  font: 500 20px/28px "Poppins", serif;
  width: 100%;
}

.faq-text01 {
  -webkit-user-select: text;
  color: #ccc;
  font-family: "Poppins", serif;
  line-height: 24px;
  user-select: text;
  width: 100%;
}

.faq-text02,
.faq-text04,
.faq-text06,
.faq-text08,
.faq-text10 {
  color: #fff;
  font: 500 20px/28px "Poppins", serif;
  width: 100%;
}

.faq-text03,
.faq-text05,
.faq-text07,
.faq-text09,
.faq-text11 {
  -webkit-user-select: text;
  color: #ccc;
  font-family: "Poppins", serif;
  line-height: 28px;
  user-select: text;
  width: 100%;
}

.flat-roof-info h2,
.flat-roof-info h3 {
  margin-bottom: 0.5rem;
}

.flat-roof-info p {
  margin-bottom: 1.5rem;
}

.form {
  align-items: center;
  align-self: center;
  background-color: initial;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.glossary-alphabet {
  align-items: center;
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: repeat(10, minmax(60px, 1fr));
  justify-content: center;
}

.glossary-content {
  align-items: flex-start;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  gap: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}

.glossary-heading {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--dl-space-space-oneandhalfunits);
}

.glossary-heading2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--dl-space-space-unit);
  justify-content: flex-start;
}

.glossary-list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
  width: 100%;
}

.glossary-results {
  align-items: flex-start;
  display: none;
  flex-direction: column;
  gap: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
  width: 100%;
}

.glossary-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--dl-space-space-unit);
  justify-content: flex-start;
}

.glossary-row1,
.glossary-row2 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--dl-space-space-unit);
  justify-content: flex-start;
}

.glossary-search {
  align-items: stretch;
  border-bottom-width: 1px;
  border-color: #b4b9c6;
  display: flex;
  flex-direction: row;
  gap: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  max-width: 1440px;
  padding-bottom: 110px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  position: relative;
  width: 100%;
}

.glossary-symptoms {
  align-items: flex-start;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  gap: var(--dl-space-space-unit);
  grid-gap: var(--dl-space-space-unit);
  justify-content: flex-start;
  width: 100%;
}

.glossary-text {
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  max-width: 385px;
}

.glossary-text01 {
  font-size: 18px;
  line-height: 27px;
  max-width: 385px;
}

.glossary-text02,
.glossary-text03,
.glossary-text04,
.glossary-text05,
.glossary-text06,
.glossary-text07,
.glossary-text08,
.glossary-text09,
.glossary-text10,
.glossary-text11,
.glossary-text12,
.glossary-text13,
.glossary-text14,
.glossary-text15,
.glossary-text16,
.glossary-text17,
.glossary-text18,
.glossary-text19,
.glossary-text20,
.glossary-text21,
.glossary-text22,
.glossary-text23,
.glossary-text24,
.glossary-text25,
.glossary-text26,
.glossary-text27 {
  font: 600 20px "Poppins", serif;
}

.glossary-text28,
.glossary-text30 {
  line-height: 24px;
  max-width: 700px;
}

.glossary-text29 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
}

.glossary-type-one {
  align-items: flex-start;
  border-bottom-width: 1px;
  border-color: #b4b9c6;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  gap: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  padding-bottom: var(--dl-space-space-fiveunits);
  width: 100%;
}

.glossary-type-two {
  align-items: flex-start;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  gap: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
}

.h1 {
  color: #fff;
  font: 400 3.5rem/4.25rem "Poppins", sans-serif;
  letter-spacing: 0.01em;
}

.h2 {
  color: #fff;
  font: 300 3rem/4rem "Poppins", sans-serif;
  letter-spacing: 0.01em;
}

.her-avatars {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: var(--dl-size-size-small);
  position: relative;
  width: 115px;
}

.her-buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--dl-space-space-unit);
}

.her-caption {
  color: #fff;
  font: 20px/30px "Poppins", serif;
}

.her-caption1 {
  color: #fff;
  font-family: "Poppins", serif;
  line-height: 24px;
}

.her-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--dl-space-space-fiveunits);
  max-width: 600px;
  width: 100%;
}

.her-get-started,
.cube-get-started {
  background-color: #80ff44;
  display: flex;
}

.her-get-started1 {
  background-color: #2a2a2a;
}

.her-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--dl-space-space-unit);
}

.her-heading {
  color: #fff;
  font: 600 64px "Poppins", serif;
}

.her-her {
  align-items: center;
  border-bottom-width: 1px;
  border-color: #51515a;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  position: relative;
  width: 100%;
}

.her-highlight {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--dl-space-space-unit);
}

.her-image {
  left: 0;
  position: absolute;
}

.her-image1 {
  left: var(--dl-space-space-twounits);
  object-fit: cover;
  position: absolute;
}

.her-image2 {
  left: var(--dl-space-space-fourunits);
  object-fit: cover;
  position: absolute;
}

.her-image3 {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 900px;
  justify-content: space-between;
  margin: auto;
  position: absolute;
  right: 0;
  top: 150px;
  width: 650px;
}

.her-image4 {
  margin: auto;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.her-main {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--dl-space-space-threeunits);
}

.her-text {
  color: #0c100c;
  font: 500 16px/24px "Poppins", serif;
}

.her-text1 {
  color: #fff;
  font: 500 16px/24px "Poppins", serif;
}

.info-comp-container {
  z-index: 999;
  align-items: center;
  background-color: #000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
  width: 100%;
}

.input {
  background-color: var(--dl-color-gray-white);
  border-color: var(--dl-color-gray-black);
  border-radius: 4px;
  border-width: 1px;
  color: var(--dl-color-gray-black);
  cursor: auto;
  outline: none;
  padding: 0.5rem 1rem;
}

.input book-input {
  background-color: initial;
  border-color: #b4b9c69f;
  border-radius: 0;
  border-width: 0 0 1px;
  color: #fff;
  font-weight: 300;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 2rem;
  width: 100%;
}

.letter {
  align-items: center;
  aspect-ratio: 1;
  background-color: #e9e9eb;
  border-radius: 50%;
  border-radius: var(--dl-radius-radius-round);
  cursor: pointer;
  display: flex;
  justify-content: center;
  max-width: 60px;
  padding: 16px;
  padding: var(--dl-space-space-unit);
  padding-left: 24px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: 24px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  transition: 0.3s;
  width: 100%;
}

.mark-icon {
  align-items: center;
  background-color: #292929;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: var(--dl-space-space-halfunit);
}

.mark-icon1 {
  fill: #f33;
  height: 1rem;
  width: 1rem;
}

.mark-label {
  color: #fff;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.mark-mark {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--dl-space-space-halfunit);
  justify-content: center;
  position: relative;
}

.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 23vh;
}

.page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 12rem;
  width: 100%;
  z-index: 99;
}

.page-title {
  padding: 2rem;
}

.partners-card {
  align-items: flex-start;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  padding: 2rem;
  position: relative;
}

.partners-cards {
  -webkit-animation: slide 30s linear infinite;
  align-items: center;
  animation: slide 30s linear infinite;
  display: flex;
  flex-direction: row;
  gap: var(--dl-space-space-threeunits);
  height: 400px;
  justify-content: center;
  margin-left: 100px;
  max-width: 2700px;
  min-width: 300px;
  padding-bottom: 4rem;
  width: 75%;
}

.partners-head {
  color: var(--yellow);
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.13rem;
  line-height: 2rem;
  text-transform: uppercase;
}

.partners-partners {
  align-items: center;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  overflow: hidden;
  padding: 6rem 4rem;
  position: relative;
  width: 100%;
}

.quick-links:hover,
.read-more:hover,
.symptom:hover,
.letter:hover,
.arrow:hover,
.legal-link:hover,
.social:hover,
.footer-link:hover,
.footer-link01:hover,
.footer-link02:hover,
.footer-link03:hover,
.footer-link04:hover,
.footer-link05:hover,
.footer-link06:hover,
.footer-link07:hover,
.footer-link08:hover,
.footer-link09:hover,
.footer-link10:hover,
.testimonials-view-more:hover,
.button:hover,
.get-started:hover {
  opacity: 0.5;
}

.repair-head,
.replace-head {
  color: var(--yellow);
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.13rem;
  line-height: 2rem;
  text-transform: uppercase;
}

.repair-heading,
.replace-heading {
  color: #fff;
  font: 600 2.5rem/4rem "Poppins", serif;
}

.repair-repair,
.replace-replace {
  align-items: center;
  border-bottom-width: 1px;
  border-color: #b4b9c6;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  max-width: 1440px;
  padding: 4rem 6rem 6rem;
  position: relative;
  width: 100%;
}

.replace-text {
  color: #fff;
  font: 400 1rem/1.5rem "Poppins", serif;
}

.result-text,
.glossary-heading1,
.glossary-text31,
.glossary-text32,
.glossary-text33,
.glossary-text34,
.glossary-text35,
.glossary-text36,
.glossary-text37,
.glossary-text38,
.glossary-text39,
.glossary-text40,
.glossary-text41,
.glossary-text42,
.glossary-text43,
.glossary-text44,
.glossary-text45 {
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 600;
  white-space: nowrap;
}

.review-author {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
}

.review-author1 {
  color: #fff;
  font: 600 16px "Poppins", serif;
}

.review-avatar {
  border-radius: 50%;
  height: 50px;
  object-fit: cover;
  width: 50px;
}

.review-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
}

.review-details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: flex-start;
}

.review-icon,
.review-icon02,
.review-icon04,
.review-icon06,
.review-icon08 {
  fill: #ffde6a;
  height: 16px;
  width: 16px;
}

.review-position {
  color: #ccc;
  font: 14px/20px "Poppins", serif;
}

.review-quote {
  color: #ccc;
  font: 1rem/1.5rem "Poppins", serif;
}

.review-stars {
  align-items: center;
  display: flex;
  gap: 4px;
  justify-content: center;
}

.section-container {
  align-items: center;
  height: 100vh;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 6rem, 0, 6rem, 0;
  position: relative;
  width: 100%;
}
.section-description {
  color: #ccc;
  font: 1rem/1.75rem "Poppins", serif;
  padding-bottom: 2rem;
  padding-top: 1rem;
  width: 100%;
}
.partners-heading {
  color: #fff;
  font: 600 2.5rem/4rem "Poppins", serif;
}

.select-container1 Label,
.select-container2 Label {
  color: hsla(0, 0%, 100%, 0.616);
  font: 300 1rem "Poppins", serif;
  justify-items: flex-start;
  justify-self: flex-start;
}

.select-container1,
.select-container2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selections {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  width: 100%;
}

.separator {
  background-color: #d9d9d9;
  height: 1px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  width: 100%;
}

.side {
  -webkit-backdrop-filter: blur(130px);
  backdrop-filter: blur(130px);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.subhead {
  color: #fc3;
  color: var(--yellow);
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.13rem;
  line-height: 2rem;
  margin-bottom: 0;
  padding-bottom: 0;
  text-transform: uppercase;
}

.symptom {
  align-items: center;
  background-color: #e9e9eb;
  border-radius: 56px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 16px 24px;
  padding: var(--dl-space-space-unit) var(--dl-space-space-oneandhalfunits);
  transition: 0.3s;
}

.testimonials-cards {
  align-items: flex-start;
  display: grid;
  flex-direction: row;
  grid-gap: 1.5rem;
  grid-template-columns: auto auto auto;
  max-width: 1200px;
  width: 90%;
}

.testimonials-container,
.testimonials-container1,
.testimonials-container2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.testimonials-left {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  max-width: 600px;
  width: 100%;
}

.testimonials-paragraph {
  max-width: 600px;
  text-align: center;
  width: 100%;
}

.testimonials-right {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.testimonials-testimonials {
  align-items: center;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding-bottom: 4rem;
  padding-top: 4rem;
  position: relative;
}

.testimonials-text {
  color: #80ff44;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.testimonials-view-more {
  align-items: center;
  border-bottom-width: 1px;
  border-color: #80ff44;
  cursor: pointer;
  display: none;
  flex-direction: column;
  gap: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  padding-bottom: 0.5rem;
  transition: 0.3s;
}

@media (max-width: 991px) {
  .home-main {
    padding-top: 20vh;
  }
  .home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 18vh;
  }

  .card-root-class-name,
  .card-root-class-name1,
  .card-root-class-name2 {
    flex: 0 0 auto;
    width: 100%;
  }

  .cards-cards {
    gap: var(--dl-space-space-threeunits);
    padding-bottom: 100px;
    padding-top: 100px;
  }

  .cards-cards1 {
    flex-direction: column;
    gap: var(--dl-space-space-oneandhalfunits);
  }

  .cards-header {
    align-items: flex-start;
    flex-direction: column;
    gap: var(--dl-space-space-unit);
    justify-content: flex-start;
  }

  .collapseMenu
    .collapseMenuHeader
    .collapseMenuHeaderTitle
    .collapseMenuHeaderTitleText
    .collapseMenuHeaderTitleTextSpan
    .collapseMenuHeaderTitleTextSpanIcon {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: flex-start;
    margin: 0 0.5rem 0 0;
    padding: 0;
    width: auto;
  }

  .exp-description {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-style: normal;
    line-height: 4rem;
  }

  .glossary-alphabet {
    display: flex;
    flex-wrap: wrap;
    gap: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    width: 100%;
  }

  .glossary-content {
    gap: var(--dl-space-space-threeunits);
  }

  .glossary-heading,
  .glossary-heading2 {
    align-items: center;
  }

  .glossary-row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .glossary-row1,
  .glossary-row2 {
    flex-wrap: wrap;
    justify-content: center;
  }

  .glossary-search {
    flex-direction: column;
    width: 100%;
  }

  .glossary-symptoms {
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
  }

  .glossary-text {
    max-width: 100%;
    text-align: center;
  }

  .glossary-text01,
  .glossary-text28,
  .glossary-text29,
  .glossary-text30 {
    text-align: center;
  }

  .glossary-type-one {
    align-items: center;
    gap: var(--dl-space-space-twounits);
    justify-content: center;
    padding-bottom: var(--dl-space-space-threeunits);
    width: 100%;
  }

  .glossary-type-two {
    gap: var(--dl-space-space-twounits);
  }

  .letter {
    max-width: calc(16.66667% - 20px);
    padding: 16px;
    padding: var(--dl-space-space-unit);
  }

  .partners-cards {
    padding: var(--dl-space-space-twounits)
      var(--dl-space-space-oneandhalfunits) 2rem;
  }

  .testimonials-cards {
    grid-template-columns: auto;
  }

  .testimonials-container2 {
    display: none;
  }

  .testimonials-testimonials {
    gap: 1.5rem;
  }

  .testimonials-text {
    color: #ccc;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  .testimonials-view-more {
    border-color: #ccc;
    display: flex;
  }
}

@media (max-width: 767px) {
  .home-main {
    padding-top: 10vh;
  }

  .home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 13vh;
  }
  .bbb {
    max-width: 6rem;
  }

  .cards-left,
  .glossary-heading {
    gap: var(--dl-space-space-unit);
  }
  .duro-last {
    width: 9rem;
  }
  .glossary-alphabet {
    padding-left: 0;
    padding-right: 0;
  }
  .glossary-search {
    padding-bottom: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .glossary-symptoms {
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .glossary-text {
    font-size: 30px;
    line-height: 36px;
  }
  .glossary-text01 {
    font-size: 14px;
    line-height: 21px;
    max-width: 80%;
  }
  .main-caption {
    font-size: 1rem;
    line-height: 2rem;
    margin-left: 1rem;
    padding-left: 1rem;
  }
  .main-main {
    flex: 1 1;
  }
  .page-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 6rem;
    width: 100%;
    z-index: 999;
  }
  .partners-card {
    padding: 1rem;
  }
  .partners-cards {
    gap: 1rem;
    height: 300px;
    max-width: 600px;
    min-width: 150px;
  }
  .section-container {
    padding: 0, 2rem, 0, 2rem;
  }
  .testimonials-testimonials {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
}

@media (max-width: 991px) {
  .main-description {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .accordian-accordian {
    padding-top: 0;
  }
  .accordian-note {
    flex-direction: column-reverse;
  }
  .cube-banner {
    flex-direction: column;
    gap: var(--dl-space-space-twounits);
    justify-content: center;
  }
  .her-buttons,
  .cube-book-demo,
  .cube-get-started {
    width: 100%;
  }
  .her-caption,
  .her-heading {
    text-align: left;
  }
  .her-content {
    align-items: center;
    position: relative;
  }
  .her-get-started,
  .her-get-started1 {
    flex: 1 1;
  }
  .her-her {
    height: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .her-her1 {
    align-items: center;
    flex: 1 1;
    flex-direction: column;
    gap: var(--dl-space-space-fourunits);
    justify-content: center;
    max-width: auto;
    position: relative;
  }
  .her-highlight,
  .cube-buttons {
    flex-direction: column;
    width: 100%;
  }
  .her-image3 {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
  }
  .her-image5 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .her-image6 {
    width: 600px;
  }
  .her-main {
    align-items: center;
  }
}

@media (max-width: 767px) {
  .accordian-content {
    width: 100%;
  }
  .accordion-element {
    gap: var(--dl-space-space-oneandhalfunits);
    max-width: 560px;
    width: 100%;
  }
  .accordion-element1,
  .accordion-element2 {
    max-width: 560px;
    width: 100%;
  }
  .accordion-text,
  .faq-text,
  .faq-text02,
  .faq-text04,
  .faq-text06,
  .faq-text08,
  .faq-text10 {
    font-size: 16px;
    line-height: 24px;
  }
  .accordion-text2,
  .accordion-text4 {
    font-size: 16px;
  }
  .cube-banner {
    padding: var(--dl-space-space-threeunits)
      var(--dl-space-space-oneandhalfunits);
  }
  .her-caption {
    color: #fff;
    font: 16px/24px "Poppins", serif;
  }
  .her-caption1 {
    font-size: 14px;
    line-height: 21px;
  }
  .her-content {
    gap: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .her-get-started {
    padding-bottom: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
  }
  .her-get-started1 {
    display: none;
  }
  .her-heading {
    font-size: 40px;
  }
  .her-image6 {
    width: 500px;
  }
}

@media (max-width: 479px) {
  .home-container {
    padding-top: 12vh;
  }
  .comic-button {
    font-size: 0.75rem;
  }
  .accordion-element,
  .accordion-element1,
  .accordion-element2 {
    max-width: auto;
    width: 350px;
  }
  .her-header {
    align-items: flex-start;
  }
  .her-heading {
    max-width: 280px;
  }
  .her-image6 {
    width: 400px;
  }
}
